<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <p>
        Dear {{ firstName }} {{ lastName }},<br><br>

        Your booking session request has been submitted and is currently in waiting status.<br>
        You will receive message shortly from our team with your booking confirmation.<br><br>
        We have received your basic details below:<br>
        Name: {{ lastName }}, {{ firstName}}.<br>
        Email: {{ email }}<br>
        Phone: {{ phone }}<br>
        Country of Origin: {{ country }}<br><br>

        Thanks & Regards,<br>
        Team TherapyWithKritika.
    </p>
</body>
</html>