
  <!-- NAV -->
  <nav id="nav">
    <a href="#" class="nav-brand">Kritika Zutshi</a>
    <ul class="nav-links" id="navLinks">
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#approach">Approach</a></li>
      <li><a href="#testimonials">Testimonials</a></li>
      <li><a href="{{ ('fee') }}">Fees</a></li>
      <li><a href="{{ ('admin') }}">admin</a></li>
      <!--li><a href="#contact" class="nav-cta">Book a Consultation</a></li-->
      <li><a href="{{ ('booking') }}" class="nav-cta">Book a Consultation</a></li>
    </ul>
    <button class="hamburger" id="hamburger" aria-label="Menu">
      <span></span><span></span><span></span>
    </button>
  </nav>

