{% extends 'base.html' %}
<style>
.custom-table {
    max-height: 500px;
    overflow-y: auto;
    border-radius: 10px;
}

/* Sticky header */
.custom-table thead th {
    position: sticky;
    top: 0;
    background: #1f2937;
    color: white;
    z-index: 2;
}

/* Wrap long text */
td {
    max-width: 200px;
    word-break: break-word;
    font-size: 0.9rem;
}

/* Message column wider */
td:nth-child(12) {
    max-width: 300px;
}

/* Hover effect */
.table-hover tbody tr:hover {
    background-color: #f1f5f9;
}
</style>
{% block content %}
<div class="hero-actions">
        <a href="/" class="btn-primary">HOME</a>
    </div>
<div class="container my-4">
    <h3 class="mb-3">Client Details</h3>

    <div class="table-responsive custom-table">
        <table class="table table-hover align-middle text-center">
            
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Occupation</th>
                    <th>Phone</th>
                    <th>Alt Phone</th>
                    <th>Resident</th>
                    <th>Insurance</th>
                    <th>Reason</th>
                    <th>Past</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>
                {% for data in clients %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="text-break">{{ data.email }}</td>
                    <td>{{ data.firstName }} {{ data.lastName }}</td>
                    <td>{{ data.age }}</td>
                    <td>{{ data.occupation }}</td>
                    <td>{{ data.phone }}</td>
                    <td>{{ data.alt_phone }}</td>
                    <td>{{ data.resident }}</td>
                    <td>{{ data.insurance }}</td>
                    <td class="text-wrap">{{ data.reason }}</td>
                    <td class="text-wrap">{{ data.past }}</td>
                    <td class="text-start text-wrap">{{ data.message }}</td>
                    <td>
                        {{ data.created_at.strftime('%d-%m-%Y %H:%M') if data.created_at }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}